* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  margin: 0 auto;
  max-width: 40rem;
  padding: 1rem 2rem;
}

a {
  color: Crimson;
  text-decoration-skip: ink;
  transition: color .25s;
}

a:focus,
a:hover {
  color: FireBrick;
}

h1, h2, h3, caption {
  font-family: "Oswald", sans-serif;
}

h2, h3:not(:first-child) {
  margin: 3rem 0 1rem;
}

img {
  height: auto;
  max-width: 100%;
}

p {
  line-height: 1.25;
}

li ul {
  margin: .75rem 0;
}

li {
  margin-bottom: .25rem;
}

label,
textarea {
  display: block;
  margin: 1rem 0;
}

legend {
  padding: 0 1rem;
}

fieldset {
  border: solid LightGrey 1px;
  border-radius: .25rem;
}

button {
  background-color: Crimson;
  color: white;
  border: 0;
  border-radius: .25rem;
  padding: .5rem 1rem;
  transition: background .25s;
}

button:focus,
button:hover {
  background-color: FireBrick;
}

button[disabled] {
  background-color: WhiteSmoke;
  border: solid LightGrey 1px;
  color: DarkGrey;
}

caption {
  font-size: 2rem;
  font-weight: 700;
}

table {
    border-collapse: collapse;
    margin: 2em 0;
}

th, td {
    border: solid Silver 1px;
    padding: 1em;
}

code, kbd {
  background-color: WhiteSmoke;
  font-family: "Source Code Pro", monospace;
  letter-spacing: -1px;
}

[tabindex="0"],
a[href],
area[href],
button,
input[type="checkbox"],
input[type="color"],
input[type="file"],
input[type="image"],
input[type="radio"],
input[type="range"],
input[type="submit"],
label[for],
select,
summary {
  cursor: pointer;
}

button[disabled],
input[disabled],
select[disabled],
textarea[disabled] {
  cursor: not-allowed;
}

.horizontal-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.horizontal-list__item {
  display: inline-block;
  margin: .25rem;
}

.icon {
  fill: currentColor;
}

.icon--new-window {
  height: 1rem;
  width: 1rem;
}

.icon--social {
  height: 2rem;
  width: 2rem;
}

.error {
  color: Crimson;
  display: block;
}

.container {
  background-color: WhiteSmoke;
  margin: 1rem 0;
  padding: 1rem;
}

.container h2 {
  margin: 0 0 1rem;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
